// Чтобы не подключать на мейн странице. Вдруг ещё забудешь. 
include ../like-button/like-button

//
    image - string - имя и путь до картинки.
    author - имя автора.
    data - дата публикации. 
    text - текст отзыва.
    count - string + int - число лайков.
    on - bool - кнопка лайков нажата или нет.
    Пример записи - под миксином.
    
mixin feedback-record(record)
    .feedback-record
        .feedback-record__top
            script
                import '#{record.image}'
            img(src=record.image, alt=record.author)
            .feedback-record__title
                .feedback-record_author= record.author
                .simple-text= record.data
        .feedback-record__bottom
            .feedback-record__like  
                +like-button(record.on, record.count)
            .simple-text= record.text


//- +feedback-record({
//-     image: 'img/dd43be.png', 
//-     author: 'Vb[fbk Rbhbkby',
//-     data: '3 lyz yfpfl',
//-     on: true,
//-     count: 12,
//-     text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
//- })